---
http_interactions:
- request:
    method: post
    uri: https://api.pushbullet.com/v2/pushes
    body:
      encoding: UTF-8
      string: body=Pushbullet+is+awesome&title=Check+it+out&type=link&url=https%3A%2F%2Fwww.pushbullet.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16038'
      X-Ratelimit-Reset:
      - '1462451509'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"iden":"<IDENTIFIER>","created":1462449229.3419766,"modified":1462449229.3460095,"type":"link","dismissed":false,"direction":"self","sender_iden":"<SENDER_IDEN>","sender_email":"<SENDER_EMAIL>","sender_email_normalized":"<SENDER_EMAIL_NORMALIZED>","sender_name":"Hiroshi
        Yoshida","receiver_iden":"<RECEIVER_IDEN>","receiver_email":"<RECEIVER_EMAIL>","receiver_email_normalized":"<RECEIVER_EMAIL_NORMALIZED>","title":"Check
        it out","body":"Pushbullet is awesome","url":"https://www.pushbullet.com"}'
  recorded_at: Thu, 05 May 2016 11:53:50 GMT
recorded_with: VCR 3.0.1
