---
http_interactions:
- request:
    method: post
    uri: https://api.pushbullet.com/v2/pushes
    body:
      encoding: UTF-8
      string: body=body&title=title&type=note
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16001'
      X-Ratelimit-Reset:
      - '1462451509'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"iden":"<IDENTIFIER>","created":1462449230.8684692,"modified":1462449230.8716338,"type":"note","dismissed":false,"direction":"self","sender_iden":"<SENDER_IDEN>","sender_email":"<SENDER_EMAIL>","sender_email_normalized":"<SENDER_EMAIL_NORMALIZED>","sender_name":"Hiroshi
        Yoshida","receiver_iden":"<RECEIVER_IDEN>","receiver_email":"<RECEIVER_EMAIL>","receiver_email_normalized":"<RECEIVER_EMAIL_NORMALIZED>","title":"title","body":"body"}'
  recorded_at: Thu, 05 May 2016 11:53:51 GMT
recorded_with: VCR 3.0.1
