---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16110'
      X-Ratelimit-Reset:
      - '1462451509'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"active":true,"iden":"<IDENTIFIER>","created":1387280128.8285801,"modified":1462344748.2999349,"email":"<EMAIL>","email_normalized":"<EMAIL_NORMALIZED>","name":"<NAME>","image_url":"https://static.pushbullet.com/google-user/6116fafe94bc378a50a03413171cf1f413e93176e0479b0ad72c077816d4beeb","max_upload_size":26214400}'
  recorded_at: Thu, 05 May 2016 11:53:43 GMT
recorded_with: VCR 3.0.1
