---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16383'
      X-Ratelimit-Reset:
      - '1431696227'
    body:
      encoding: UTF-8
      string: '{"iden":"<IDENTIFIER>","created":1387280128.8285801,"modified":1431480914.008642,"email":"hrysd22@gmail.com","email_normalized":"hrysd22@gmail.com","name":"Hiroshi
        Yoshida","image_url":"https://lh5.googleusercontent.com/-1p2CXv0T6zc/AAAAAAAAAAI/AAAAAAAAAxI/XNSyPEilY54/photo.jpg","google_userinfo":{"name":"Hiroshi
        Yoshida"},"preferences":{"onboarding":{"app":true,"extension":true,"friends":true},"social":false}}'
  recorded_at: Fri, 15 May 2015 13:08:27 GMT
recorded_with: VCR 2.9.3
