---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/channel-info?tag=docs-hrysd-org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16305'
      X-Ratelimit-Reset:
      - '1431699827'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"iden":"<IDENTIFIER>","name":"docs.hrysd.org","tag":"docs-hrysd-org","description":"Notify
        updates of http://docs.hrysd.org","image_url":"https://pushbullet.imgix.net/ujDZntJ9gzY-3grhPLQ2UFkJxIY4A0X8QxACVMvCsU1D/soymilk.png","subscriber_count":1}'
  recorded_at: Fri, 15 May 2015 13:45:24 GMT
recorded_with: VCR 2.9.3
