---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16143'
      X-Ratelimit-Reset:
      - '1462451509'
    body:
      encoding: UTF-8
      string: '{"accounts":[],"blocks":[],"channels":[],"chats":[],"clients":[],"contacts":[],"devices":[{"active":true,"iden":"<IDENTIFIER>","created":1462344752.19049,"modified":1462344752.190496,"type":"android","kind":"android","nickname":"<NICKNAME>","generated_nickname":true,"manufacturer":"LGE","model":"Nexus
        5X","app_version":256,"fingerprint":{"android_id":"<ANDROID_ID>"},"push_token":"<PUSH_TOKEN>","pushable":true,"icon":"phone","remote_files":"disabled"},{"active":true,"iden":"<IDENTIFIER>","created":1417673008.565792,"modified":1456481631.4522848,"type":"android","kind":"android","nickname":"<NICKNAME>","generated_nickname":true,"manufacturer":"asus","model":"Nexus
        7","app_version":256,"fingerprint":{"android_id":"<ANDROID_ID>"},"push_token":"<PUSH_TOKEN>","pushable":true,"icon":"tablet","remote_files":"disabled"},{"active":true,"iden":"<IDENTIFIER>","created":1444270984.129365,"modified":1444357879.276754,"type":"android","kind":"android","nickname":"<NICKNAME>","generated_nickname":true,"manufacturer":"LGE","model":"Nexus
        5","fingerprint":{"android_id":"<ANDROID_ID>"},"push_token":"<PUSH_TOKEN>","pushable":true,"icon":"phone"},{"active":false,"iden":"<IDENTIFIER>","created":1387280132.7686799,"modified":1431480934.910374,"pushable":false,"icon":"phone"},{"active":false,"iden":"<IDENTIFIER>","created":1422957205.872742,"modified":1431480928.921741,"pushable":false,"icon":"phone"},{"active":true,"iden":"<IDENTIFIER>","created":1431465614.9596338,"modified":1431465614.95964,"type":"ios","kind":"ios","nickname":"<NICKNAME>","manufacturer":"Apple","model":"iPhone
        5s (GSM)","app_version":5818,"push_token":"<PUSH_TOKEN>","pushable":true,"icon":"phone"},{"active":true,"iden":"<IDENTIFIER>","created":1387280197.86802,"modified":1423210269.815474,"type":"chrome","kind":"chrome","nickname":"<NICKNAME>","manufacturer":"Google","model":"Chrome","app_version":168,"pushable":true,"icon":"browser"}],"grants":[],"pushes":[],"profiles":[],"subscriptions":[],"texts":[]}'
  recorded_at: Thu, 05 May 2016 11:53:42 GMT
recorded_with: VCR 3.0.1
