---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16105'
      X-Ratelimit-Reset:
      - '1462451509'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"accounts":[],"blocks":[],"channels":[],"chats":[],"clients":[],"contacts":[],"devices":[],"grants":[],"pushes":[],"profiles":[],"subscriptions":[{"active":true,"iden":"<IDENTIFIER>","created":1431697791.3463821,"modified":1437536261.779476,"channel":{"iden":"<IDENTIFIER>","tag":"pushbullet","name":"Pushbullet
        Updates","description":"Keep up with Pushbullet news and updates.","image_url":"https://s3.amazonaws.com/pushbullet-uploads/ujxPklLhvyK-FaRmZExQiHx8tMvmSpUCItsuJeFY5eUo/pushbullet.png","website_url":"https://www.pushbullet.com"}},{"active":true,"iden":"<IDENTIFIER>","created":1431697440.6303182,"modified":1431697440.630324,"channel":{"iden":"<IDENTIFIER>","tag":"docs-hrysd-org","name":"docs.hrysd.org","description":"Notify
        updates of http://docs.hrysd.org","image_url":"https://s3.amazonaws.com/pushbullet-uploads/ujDZntJ9gzY-3grhPLQ2UFkJxIY4A0X8QxACVMvCsU1D/soymilk.png"}},{"active":false,"iden":"<IDENTIFIER>","created":1420533139.024703,"modified":1431697438.910903}],"texts":[]}'
  recorded_at: Thu, 05 May 2016 11:53:44 GMT
recorded_with: VCR 3.0.1
