---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/channel-info?tag=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16380'
      X-Ratelimit-Reset:
      - '1462450731'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_param","type":"invalid_request","message":"The
        param ''tag'' has an invalid value.","param":"tag","cat":">:3"},"error_code":"invalid_param"}'
  recorded_at: Thu, 05 May 2016 11:53:45 GMT
recorded_with: VCR 3.0.1
