---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/channel-info?tag=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ratelimit-Reset:
      - '1431699827'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16304'
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request","message":"The param ''tag'' has
        an invalid value.","param":"tag","cat":">:3"}}'
  recorded_at: Fri, 15 May 2015 13:45:25 GMT
recorded_with: VCR 2.9.3
