---
http_interactions:
- request:
    method: get
    uri: https://api.pushbullet.com/v2/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16160'
      X-Ratelimit-Reset:
      - '1462451509'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"accounts":[],"blocks":[],"channels":[],"chats":[],"clients":[],"contacts":[{"active":false,"iden":"<IDENTIFIER>","created":1387347284.0415301,"modified":1423015250.699245},{"active":true,"iden":"<IDENTIFIER>","created":1387280676.0635,"modified":1387280676.0634398,"name":"<NAME>","email":"<EMAIL>","email_normalized":"<EMAIL_NORMALIZED>","image_url":"https://lh6.googleusercontent.com/-SRE_JtJNldA/AAAAAAAAAAI/AAAAAAAAPeo/-Zwzu80gOkE/photo.jpg","status":"user"},{"active":true,"iden":"<IDENTIFIER>","created":1387280230.9459999,"modified":1387280230.94592,"name":"<NAME>","email":"<EMAIL>","email_normalized":"<EMAIL_NORMALIZED>","image_url":"https://lh6.googleusercontent.com/-svfagNcM75E/AAAAAAAAAAI/AAAAAAAABLw/e-2eTG9f-HA/photo.jpg","status":"user"}],"devices":[],"grants":[],"pushes":[],"profiles":[],"subscriptions":[],"texts":[]}'
  recorded_at: Thu, 05 May 2016 11:53:41 GMT
recorded_with: VCR 3.0.1
